.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.HeaderSection{
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
}
.Selection__title{
font-size: normal;
border: transparent;

}
.selection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(231, 241, 234);
  padding: 1vw;
}
.selectionOff{
  visibility: collapse;
}
.selection__button{
  border: hidden;
}
.graph{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.News__Title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
